/***********************************
MIXINS UTEIS PARA SE UTILIZAR EM SEU PROJETO
***********************************/


/***********************************
BORDER RADIUS
Para se utilizar nas classes que precisar.
Exemplo de uso:
.nomadaclasse {
    @include border-radius(3px);
    ...
}
***********************************/
@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

/***********************************
CENTRALIZAR
Para centralizar rapidamente um elemento de bloco sem ter que se preocupar se há uma `margin-top` ou `margin-bottom` já aplicada:
***********************************/
@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

/***********************************
PSEUDO-ELEMENTOS
Quando você usa o ::before e o ::after você sempre precisa desses três,
então economize duas linhas de código todas vez que usar este mixin.
Veja abaixo um exemplo usando nenhum argumento (você também vai ver este mixin
 em outros abaixo também).
div::after {
    @include pseudo;
    top: -1rem;
    left: -1rem;
    width: 1rem;
    height: 1rem;
}
***********************************/

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

/***********************************
PROPORÇÃO RESPONSIVA
Nós usamos este aqui para criar elementos escaláveis (normalmente imagens / backgrounds)
que precisem manter a proporção.
Então para usar este mixin você poderia escrever o código abaixo e sua `div` teria uma
proporção comumente utilizada por vídeos (16:9), como do Youtube:

div {
    @include responsive-ratio(16,9);
}
***********************************/
@mixin responsive-ratio($x, $y, $pseudo: false) {
    $padding: unquote( ( $y / $x) * 100 + '%');
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
}

/***********************************
TRIÂNGULO EM CSS
Este mixin resolve toda a trabalheira de criar triângulo em CSS,
tudo isso sem imagens. Basta você especificar a cor, o tamanho e a direção que vai sair do
elemento, e pronto!

***********************************/
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
    @include pseudo($pos: $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round( $size / 2.5 );
    } @else if $direction == up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round( $size / 2.5 );
    } @else if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    } @else if  $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}

/***********************************
ESTILOS DE FONTE
Elimine a dor de definir estilos para uma fonte (este mixin assume que você já incluiu a fonte).
Defina a fonte de fallback uma vez e nunca mais se preocupe com isso de novo.
EX:
.nomedaclasse {
    @include font-source-sans('Roboto Condensed', 15px, $cor04, 600, false, 0, center);
}
***********************************/
@mixin font-source-sans($family:false, $size: false, $colour: false, $weight: false,  $lh: false, $letter: false, $align: false) {
    @if $family { font-family: $family, sans-serif; }
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $letter { letter-spacing: $letter; }
    @if $align { text-align: $align; }
}

/***********************************
PLACEHOLDERS
Eles são uma chatice quando você tem que definir o estilo em todos os formatos diferentes,
esse mixin o arruma pra você:
Se por acaso você não tiver acostumado a usar o @content, um exemplo de uso:

input,
textarea {
    @include input-placeholder {
        color: $grey;
    }
}

***********************************/
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

/***********************************

MEDIA QUERIES
Essa é pra economizar tempo! Pode-se usar valores em pixel mas nós temos breakpoints padrões
 definidos que também funcionam, economizando tempo enquanto você vai deixando seus próprios
 breakpoints mais consistentes.
O exemplo abaixo mostra o `padding` e o `font-size` aumentando quando a largura da tela
fica maior que 1024px.

.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}
***********************************/
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-medium": 960px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

/***********************************

HARDWARE
Simples e eficaz para quando precisar ligar a aceleração de hardware para alguma animação,
 deixando tudo rápido, elegante e sem lag.
***********************************/
@mixin hardware($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
}

/***********************************
TRUNCAR
Truncar um elemento não é tão simples como deveria ser, mas pode ser com este mixin.
O que significa que quando você incluí-lo terá apenas que especificar um limite com
um valor de `max-width`, e ser feliz!
***********************************/
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/***********************************
BOTÃO GRADIENTE
Este mixin cria um efeito gradiente nos botões
Veja abaixo um exemplo usando nenhum argumento.
main_nav a{
    @include button-gradient;
}
***********************************/

@mixin button-gradient-green {
  @include border-radius (100px);
  color: $cor03;
  background: $cor02;
  background: -moz-linear-gradient(-45deg, $cor02 0%, $cor01 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $cor02), color-stop(100%, $cor01));
  background: -webkit-linear-gradient(-45deg, $cor02 0%, $cor01 100%);
  background: -o-linear-gradient(-45deg, $cor02 0%, $cor01 100%);
  background: -ms-linear-gradient(-45deg, $cor02 0%, $cor01 100%);
  background: linear-gradient(135deg, $cor02 0%, $cor01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $cor02, endColorstr=$cor01, GradientType=1 );
}
@mixin button-gradient-transparent {
  @include border-radius (100px);
  color: $cor03;
  border: 1px solid;
}

/***********************************
BACKGROUND GRADIENTE
Este mixin cria um efeito gradiente no background aplicado
Veja abaixo um exemplo usando nenhum argumento.
main_nav a{
    @include background-gradient;
}
***********************************/

@mixin background-gradient {
  color: $cor03;
  background: $cor02;
  background: -moz-linear-gradient(-45deg, $cor02 0%, $cor01 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $cor02), color-stop(100%, $cor01));
  background: -webkit-linear-gradient(-45deg, $cor02 0%, $cor01 100%);
  background: -o-linear-gradient(-45deg, $cor02 0%, $cor01 100%);
  background: -ms-linear-gradient(-45deg, $cor02 0%, $cor01 100%);
  background: linear-gradient(135deg, $cor02 0%, $cor01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $cor02, endColorstr=$cor01, GradientType=1 );
}

/***********************************
TRANSFORM ROTATE
Utiliza-se este mixim para quando quiser rotacionar determinado elemento dentro de uma div.

EX:
.nomedaclasse {
    @include transform-rotate(absolute, 1, -40deg, 50px, false, -80px, false);
}
***********************************/

@mixin transform-rotate($position, $scale, $rotate, $top: false, $right: false, $left: false,  $bottom: false) {
  position: $position;
  -webkit-transform:  scale($scale) rotate($rotate);
  -moz-transform:  scale($scale) rotate($rotate);
  -o-transform:  scale($scale) rotate($rotate);
  transform: scale($scale) rotate($rotate);
  @if $top { top: $top; }
  @if $right { right: $right; }
  @if $left { left: $left; }
  @if $bottom { bottom: $bottom; }
}
